<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/homestyle.css">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body id="home">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              <a class="nav-link active" href="/contenido">Contenido</a>
              <a class="nav-link active" href="/about">Redes</a>
              
            </div>
          </div>
        </div>
      </nav>


      

      <div id="linkbar">

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ducimus tenetur quas illo, facere sint eaque vero voluptates repudiandae odit. Tenetur accusantium laboriosam consectetur eius sint dignissimos nemo nesciunt eaque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora eum, fugiat, odit sapiente non earum quaerat maxime impedit in unde cumque ab omnis numquam autem necessitatibus nemo harum accusantium ea.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia harum iusto blanditiis est ipsum tenetur illum laudantium nostrum alias dolorum debitis odio quae iure, molestiae vero eligendi. Quas, ratione.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto porro in eligendi non, distinctio sunt quas laboriosam consequatur quae quaerat temporibus voluptatem deserunt, quia ipsum fugit, consectetur pariatur aperiam dicta?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum odit quis non. Laborum, repudiandae pariatur tenetur quae ab quam iure odit, illum veritatis rem, possimus quasi totam vero laboriosam incidunt?
    
    </div>

<p id="parrafo1">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis sapiente maxime, libero vel aliquam qui nesciunt ex dicta error architecto iure. Molestias ab temporibus hic corrupti sed adipisci vero tenetur.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quaerat doloribus nihil tempora sit corporis natus pariatur velit! Voluptatum qui dignissimos similique error accusamus illum excepturi molestiae tempora id quam?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quasi dolor provident rerum ex atque ea voluptas quis, nostrum libero reiciendis error non alias facere dolore ipsam. Id, voluptatibus unde.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias eius rem illo corporis unde ad cumque harum consectetur atque. Mollitia enim aliquid ipsa! Aut nihil dolorum consectetur quo ipsam!

</p>

<p3 id="parrafo3">


    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quam eligendi illo quasi distinctio in consequatur eius nobis, at nam recusandae voluptatum enim reprehenderit! Necessitatibus similique modi iure quo dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium atque incidunt impedit adipisci perspiciatis, veritatis debitis omnis corrupti expedita, voluptas quas, itaque deleniti ipsa. Perspiciatis, molestiae ipsum. Ab, nemo! Reiciendis.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium eum facere et ipsa! Nisi, nulla a.


</p3>



    










<p4 id="cont">


    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae at labore, iusto aliquam pariatur, quas voluptatibus facere eos molestias debitis, vitae rerum harum odio voluptas. Similique cum tenetur esse! Non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, repellat in tempora sapiente aut dignissimos excepturi. Quia, laudantium odio asperiores commodi, nemo quaerat quam deleniti eaque pariatur doloribus quidem dolores?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur placeat veniam eius qui maiores vitae. Magni vero asperiores mollitia ipsam ullam qui a, reiciendis sapiente voluptate enim velit repellendus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nulla quaerat, consequuntur architecto, rerum porro nostrum tenetur modi neque odio dolore in quod nam excepturi ratione minus. Eaque, voluptatem provident!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio inventore delectus nam sit excepturi omnis libero, et maiores dolor eligendi iusto odio assumenda deleniti nesciunt ipsum consequuntur dignissimos tempora?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti voluptatum nulla delectus officia, et, consequatur minus doloremque maiores ratione laborum similique reprehenderit itaque enim cupiditate eum rerum consectetur, modi facere.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cum, aliquam recusandae aliquid perferendis sed voluptatem, quis suscipit ducimus iste laborum. Assumenda enim expedita tenetur quae eum consectetur molestiae laboriosam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet non cumque quidem quibusdam omnis excepturi, vero dolorem illo aut, labore at laboriosam atque quia ad libero voluptate harum. Iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ullam deleniti quidem aperiam necessitatibus consectetur rerum omnis recusandae fugit illum tenetur itaque doloribus hic magni numquam, odit nesciunt? Molestias, culpa?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti cupiditate suscipit veniam a ullam ex harum minima eaque fugiat, aperiam impedit repellat error esse numquam, odio rem nihil accusantium.

</p4>

<button id="footer">

 Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iusto quibusdam at consequuntur, nam debitis voluptate, nostrum odit eveniet quos veniam facere sequi illum vero? Asperiores quisquam dolores minus illo?
</button>

</body>
</html>