<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>
    
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">




    <title>Registro de Cargos</title>
</head>
{% if request.session.email %}

{% else %}
{% endif %}
<body>

  <style>

    body{
      background: url("{% static 'images/pizzab14.jpg' %}") center no-repeat;
    background-size: cover;

    }

    

  </style>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Pizza Wave</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/usuario">Inicio</a>
              </li>
            
            
              {% if request.session.username %}
            
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vista Empleados
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li class="nav-item">
                <a class="nav-link" href="/cargoregister">Registros de Cargos del Empleado</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/empleado">Registro de Empleados</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/tipodocumentoemp">Registro de Tipo De Documento</a>
              </li>
          
          
              <li class="nav-item">
                <a class="nav-link" href="/departamentohome">Registro de Departamento</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/puestos">Control de Puestos</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/sucursal">Control de sucursal</a>
              </li>
          
              </ul>
            
              </li>
              </ul>
            </div>
              
            
            
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vista Usuarios
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              
                    <li class="nav-item">
                        <a class="nav-link" href="/registrousuarios">Usuarios</a>
                      </li>
              
                      


                <li class="nav-item">
                <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
          
          
                <li class="nav-item">
                    <a class="nav-link" href="/facturacion">Factura</a>
                  </li>
                

                  <li class="nav-item">
                    <a class="nav-link" href="/impuesto">Impuestos</a>
                  </li>
        


                <li class="nav-item">
                  <a class="nav-link" href="/estadopedido">Estado Pedido</a>
                  </li>
            
          
          
                    <li class="nav-item">
                      <a class="nav-link" href="/reservaciones">Registros de Reservaciones</a>
                      </li>
          
          
          
                    <li class="nav-item">
                      <a class="nav-link" href="/promociones">Registros de Promociones</a>
                      </li>
          
                      
          
          
          
                    <li class="nav-item">
                      <a class="nav-link" href="/metodopago">Metodo de Pago</a>
                      </li>
          
          
          
                      <li class="nav-item">
                        <a class="nav-link" href="/sartabla">SAR</a>
                        </li>
          
              
                </ul>
                </li>
              </ul>
              </div>
          
          
          
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vista productos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              
                  <li class="nav-item">
                  <a class="nav-link" href="/categoria">Registros de categoria</a>
                  </li>
              
                  <li class="nav-item">
                  <a class="nav-link" href="/almacen">Registros del almacen </a>
                  </li>
          
                  <li class="nav-item">
                  <a class="nav-link" href="/familiaproducto">Registros de familia producto</a>
                  </li>
          
                  <li class="nav-item">
                  <a class="nav-link" href="/menutabla">Registros del Menu</a>
                  </li>
          
          
                  <li class="nav-item">
                    <a class="nav-link" href="/historicomenutabla">Registros Historicos del Menu</a>
                    </li>
          
                  <li class="nav-item">
                  <a class="nav-link" href="/elaboracion">Registros de Elaboracion</a>
                  </li>
          
          
                  <li class="nav-item">
                  <a class="nav-link" href="/recetatablaregistros">Registros de Receta</a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" href="/inventario">Registros de inventario</a>
                    </li>
          
                  <li class="nav-item">
                    <a class="nav-link" href="/productos">Registros de Productos</a>
                    </li>
          
                    <li class="nav-item">
                        <a class="nav-link" href="/historicoproducto">Registros Historicos de Productos</a>
                        </li>

                    
                    <li class="nav-item">
                        <a class="nav-link" href="/provedores">Registros de Proveedores</a>
                        </li>
              
          
              
                </ul>
                </li>
                </ul>
                </div>
              
            
            
            
            
              <li class="nav-item">
              <a class="nav-link" href="/signout">Cerrar Sesion</a>
              </li>
            
            
            
             
              {% else %}
              
              <li class="nav-item">
              <a class="nav-link" href="/login_user">Iniciar Sesion</a>
              </li>
               
            
                 <li class="nav-item">
              <a class="nav-link" href="/signup">Registrarse</a>
              </li>
            
            
              
              {% endif %}
              
              
            
            
            
              
            
                 <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
              </li>
            
              
            
              <div class="collapse navbar-collapse" id="navbarNav">
              <li class="nav-item">
                <a class="nav-link desactivated">{{request.session.username}}</a>
              </li>
              </div>
            
            
              </ul>
              </div>
            </div>
            </nav>


		{% if messages %}
		<ul class="messages">
		  {% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
			  <script>
				setTimeout(function() {
				  $('.messages').fadeOut('slow');
				}, 3000);
			  </script>
			</li>
		  {% endfor %}
		</ul>
	  {% endif %}







  <br>
    



<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
      <h2>Registro de  <b>Cargos</b></h2>
      <!-- Button trigger modal AÑADIR CARGO -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AñadirCargoModal">
  <i class="material-icons">&#xE147;</i> <span>Nuevo Cargo</span>
</button>
    </div>

    <table id="mytable" class="table table-dark table-hover">



        <thead>
          
          <th><input type="checkbox" id="checkall" name="options[]" value="1"/></th>
            <th>ID CARGO</th>
            <th>Nombre del Cargo</th>
            <th>Descripcion del Cargo</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Ver</th>
         </thead>
<tbody>
{% for carg in car %} 
<tr>  
 <td><input type="checkbox" class="checkthis" /></td>
 <td>{{ carg.id }}</td>  

 <td>{{ carg.nombre_cargo}}</td> 


 <td>{{ carg.descripcion }}</td>  

 <td>

   <!-- Button trigger modal EDIT CARGO -->
   <a href="/editarcargo/{{ carg.id }}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditarCARGOMODAL-{{forloop.counter}}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
</td>


  <td>
    <p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/borrarcargo/{{ carg.id}}"  class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></span></a></p>
</td>   

<td>
<!-- Button trigger modal -->
<a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#VisualizarDatosCargos-{{forloop.counter}}">
  <i class="fa fa-eye" aria-hidden="true"></i>
</a>
</td>

</tr>  
{% endfor %}
</tbody>
     
</table>






<!-- Modal AÑADIR CARGO -->
<div class="modal fade" id="AñadirCargoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Nuevo Cargo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="myform" action="{% url 'añadircargo' %}" method="POST">
          {% csrf_token %}
          <div class="row">
        
        
        <div class="col-md-6 mb-4">
          <p>ID</p>
          <input type="number" name="id" placeholder="ID" required class="form-control">
        </div>


        <div class="col-md-10">
          <p>Nombre del Cargo</p>
          <input placeholder="Ejemplo:Mesero,Gerente,Administrador,Cocinero" type="text" id="nombre_cargo" name="nombre_cargo" class="form-control noRepetidos noSpace nombrecontrol " required minlength="5" maxlength="15" pattern="^(?!.*(.).*\1)[A-Z][a-zA-Z]+$" >

        </div>
        <div id="no-espacios-error" class="text-danger"></div>

        <div class="col">
          <p>Descripcion</p>
          <textarea type="text" maxlength="250" minlength="10" name="descripcion" required placeholder="Descripcion del Cargo"   class="form-control noSpace decripcioncontrol" ></textarea>
        </div>



        </div>

        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>

      <div id="mensaje-confirmacion" style="display:none">
        ¡Formulario enviado correctamente!
      </div>

    </form>
    </div>
  </div>
</div>


     
        




<!-- Modal EDI car -->
{% for carg in car %}  

<div class="modal fade" id="EditarCARGOMODAL-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Cargo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/actializarcargo/{{carg.id}}">
          {%csrf_token %}
      
              <table>
                
                
                <div class="row">
        
        
                  <div class="col-md-6 mb-4">
                    <p>ID</p>
                    <input  type="number" value="{{carg.id}}" name="id" placeholder="ID" required class="form-control">
                  </div>
          

          


          
                  <div class="col-md-6 mb-4">
                    <p>Nombre del Cargo</p>
                    <input type="text" value="{{ carg.nombre_cargo }}" pattern="[a-zA-z]+"  name="nombre_cargo"  placeholder="Introduce el Nombre del Cargo"   class="form-control">
                  </div>
          


          
                  <div class="col">
                    <p>Descripcion</p>
              <textarea name="descripcion" id="descripcion"  required class="form-control">{{ carg.descripcion }}</textarea>
                  </div>
          
          
    
          
                  </div>
          
                
   
              </table>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" value="update">
                      Editar
                  </button>
                </div>
          </form>

      </div>
      
    </div>
  </div>
</div>
{% endfor %}






<!-- Modal  PARA VISUALIZAR DATOS DEL cARGO-->
{% for carg in car %}
<div class="modal fade" id="VisualizarDatosCargos-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del Cargo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="modal-body">
          <form method="post" action="/actializarcargo/{{carg.id}}">

                <table>
                
                  <div class="row">
        
        
                    <div class="col-md-6 mb-4">
                      <p>ID</p>
                      <input disabled type="number" value="{{carg.id}}" name="id" placeholder="ID" required class="form-control">
                    </div>
            
  
            
  
  
            
                    <div class="col-md-6 mb-4">
                      <p>Nombre del Cargo</p>
                      <input disabled type="text" value="{{ carg.nombre_cargo }}" pattern="[a-zA-z]+"  name="nombre"  placeholder="Introduce el Nombre del Cargo"   class="form-control">
                    </div>
            
  
  
            
                    <div class="col-md-6 mb-4">
                      <p>Descripcion</p>
                      <input disabled type="text" value="{{ carg.descripcion }}" name="descripcion" required placeholder="Descripcion del Cargo"  class="form-control">
                    </div>
            
            
            
                    </div>
            
                  
     
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                
              </div>
            </form>
  
        </div>




    </div>
  </div>
</div>
{% endfor %}









<script>

$.extend($.validator.messages, {
    required: "Por favor completa este campo"
  });

  

$("#myform").validate({
  submitHandler: function(form) {
    event.preventDefault();

    var id = $("input[name='id']").val();
    var nombre_cargo = $("input[name='nombre_cargo']").val();
    var descripcion = $("input[name='descripcion']").val();
    if (id === "") {
      alert("Por favor, ingrese el ID. es necesario");
      return false;
    }
    if (nombre_cargo === "") {
      alert("Por favor, ingrese su nombre del cargo. es necesario rellenar este campo");
      return false;
    }
    if (descripcion === "") {
      alert("Por favor, ingrese su descripcion. Es necesario Rellenar este campo");
      return false;
    }

    // Si todo está bien, se puede enviar el formulario
    
    $(this).unbind('submit').submit(); // Envía el formulario








    form.submit();
  }
 });

 $(document).ready(function() {
$('#mytable').DataTable({
"language": {
"url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
}
});
});

 $(document).ready(function() {
  // Agregar método de validación personalizado para verificar que no haya espacios
  $.validator.addMethod("noespacios", function(value, element) {
    return this.optional(element) || /^[^\s]+$/.test(value);
  }, "No se permiten espacios en este campo");


 $("#myform").validate({
    rules: {
      id: {
        required: true
      },
      nombre_cargo: {
        required: true, 
        minlength: 5,
        maxlength:15,
        noRepetidos: true,

        noSpace: true, // Nueva regla personalizada para evitar espacios en el campo
        nombrecontrol:true,
      },



      descripcion: {
        required: true,
        decripcioncontrol: true,
        minlength: 10,
        maxlength: 250,
      },

    },
    messages: {
      id: {
        required: "Este campo Es Requerido"

      },
      nombre_cargo: {
        nombrecontrol: "Este campo solo puede contener letras y debe comenzar con una letra mayúscula",
        minlength: "Debes ingresar al menos {5} caracteres.", 
        maxlength: "No puedes ingresar más de {15} caracteres.",
        noRepetidos: "No se permiten caracteres repetidos en este campo",

      noespacios: "El nombre del cargo no puede contener espacios"
      },


      descripcion: {
        decripcioncontrol: "Minimo una Descripcion del Cargo",
        minlength: "Debes ingresar al menos {10} caracteres.",
      maxlength: "No puedes ingresar más de {250} caracteres.",
      },

    },

    errorPlacement: function(error, element) {
      if (element.attr("name") == "nombre_cargo") {
        $("#no-espacios-error").html(error); // Mostrar el mensaje de error en un elemento específico
      } else {
        error.insertAfter(element); // Mostrar el mensaje de error debajo del campo de entrada
      }
    },



    submitHandler: function(form) {
      $("#mensaje-confirmacion").show();
      form.submit();
    }
  });

});


// Regla personalizada para validar el campo de nombre_cargo
$.validator.addMethod("nombrecontrol", function(value, element) {
  return this.optional(element) || /^(?!.*(.)(\1\1))[A-Z][a-zA-Z]*$/.test(value) && !/\s/.test(value);
}, "Este campo solo puede contener letras y debe comenzar con una letra mayúscula");


// Regla personalizada para validar el campo de Descripciion
$.validator.addMethod("decripcioncontrol", function(value, element) {
  return this.optional(element) || value.trim().length > 0;
}, "Escribe una breve descripción del cargo. como Minimo 10 Letras");


// Regla personalizada para validar el campo de nombre_cargo
jQuery.validator.addMethod("noSpace", function(value, element) { 
    return value == '' || value.trim().length != 0;  
}, "No espacios Porfavor Eso no se Hace Aqui");

// Regla personalizada para validar el campo de nombre_cargo
$.validator.addMethod("noRepetidos", function(value, element) {
  return this.optional(element) || !/(.)\1+/.test(value);
}, "No se permiten caracteres repetidos en este campo");


</script>






</body>
</html>