<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- DataTables CSS library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css"/>

<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables JS library -->
<script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<!-- DataTables JBootstrap -->
<script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    
    
    <title>Facturacion</title>
</head>
<body>
    


    <table id="mitabla" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
        <th>Id </th>
        <th>Descripcion</th>
        <th>Acciones</th>

        </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Acciones</th>
                </tr>
        </tfoot>
        
        <tbody>
            {% for e in esta %}
        <tr>
        <td>{{e.id_estado}}</td>
        <td>{{e.descripcion_pedido}}</td>
        <td><!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarmodalpedido-{{forloop.counter}}">
				Editar
			  </button>
            <a href="/eliminarestadopedido/{{e.id_estado}}" class="btn btn-primary">Eliminar</a>
        </td>
        
        
    </tr>

        {% endfor %}
        </tbody>
        </table>



        <style>
            /* Estilos para la grilla */
            .grid-container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 5px;
            }
            .grid-item {
              background-color: #ddd;
              padding: 15px;
              font-size: 15px;
              text-align: center;
            }
          </style>
      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarfacturamodal">
    Agregar Factura
 </button>
   
 <!-- Modal -->
 <div class="modal fade" id="agregarfacturamodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Factura</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
      
        <form id="factura-form">


          

          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha">
          </div>

          <br>
          <div class="mb-3">
            <label for="cliente" class="form-label">Codigo CAI</label>
            <select class="form-control" name="" id="">
               <option value="" selected>Selecciona un CAI</option>
               {% for s in sar %}
               <option value="{{s.codigo_sar}}">{{s.codigo_sar}}</option>
               {% endfor %}             
           </select>
          </div>
    
          <br>
           <label for="">Numero de Factura</label>
            <input type="text" class="form-control" name="" id="">

            <br>
        {% if request.session %}

         <input class="form-control" value="{{ request.session.nombre }}" readonly>
         <input class="form-control" value="{{ request.session.apellido }}" readonly>
         <input class="form-control" value="{{ request.session.email }}" readonly>
         <input class="form-control" value="{{ request.session.telefono }}" readonly>

         {% endif %}
           <!-- Aquí agregas los campos necesarios para la factura, como el nombre del cliente, fecha, etc. -->
            <br>
           <div class="mb-3">
             <label for="cliente" class="form-label">Nombre del Cliente</label>
             <select class="form-control" name="" id="cliente-select">
                <option value="" selected>Consumidor Final</option>
                {% for u in user %}
                <option value="{{u.nombre}}">{{u.nombre}}</option>
                {% endfor %}             
            </select>
           </div>
            <br>

            <div class="mb-3">
              <label for="menu" class="form-label">Nombre del Menú</label>
              <input class="form-control" type="text" name="menu" id="menu-input" readonly>
          </div>
          
          <div class="mb-3">
              <label for="cantidades" class="form-label">Cantidades</label>
              <input class="form-control" type="text" name="cantidades" id="cantidades-input" readonly>
          </div>
          
          <div class="mb-3">
              <label for="detalle" class="form-label">Tamaño del Menú</label>
              <input class="form-control" type="text" name="detalle" id="detalle-input" readonly>
          </div>
          
          <div class="mb-3">
              <label for="estado" class="form-label">Estado del Pedido</label>
              <input class="form-control" type="text" name="estado" id="estado-input" readonly>
          </div>
          
          <div class="mb-3">
              <label for="fecha" class="form-label">Fecha de Realización del Pedido</label>
              <input class="form-control" type="text" name="fecha" id="fecha-input" readonly>
          </div>
            

            <div class="mb-3">
              <label for="cliente" class="form-label">Descuento</label>
              <select class="form-control" name="" id="">
                 <option value="" selected>0%</option>
                 <option value="" >5%</option>
                 <option value="" >10%</option>
             
              </select>
            </div>
 


            <div class="mb-3">
                <label for="cliente" class="form-label">ISV</label>
                <select class="form-control" name="" id="">
                   <option value="" selected>15%</option>
                   <option value="" >18%</option>               
                </select>
              </div>
   

              <div class="mb-3">
                <label for="metodo-pago" class="form-label">Método de Pago</label>
                <select class="form-control" name="metodo-pago" id="metodo-pago">
                    <option value="" selected disabled>Selecciona un Metodo de Pago</option>
                    {% for m in meto %}
                        {% if m.forma_pago != "Mixto" %}
                            <option value="{{m.forma_pago}}" >{{m.forma_pago}}</option>
                        {% else %}
                            <option value="{{m.forma_pago}}" >{{m.forma_pago}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3" id="input-tarjeta" hidden>
                <label for="tarjeta" class="form-label">Tarjeta</label>
                <input type="text" class="form-control" id="tarjeta" name="tarjeta">
            </div>
            <div class="mb-3" id="input-efectivo" hidden>
                <label for="efectivo" class="form-label">Efectivo</label>
                <input type="text" class="form-control" id="efectivo" name="efectivo">
            </div>
            <div class="mb-3" id="input-mixto" hidden>
                <label for="tarjeta" class="form-label">Tarjeta</label>
                <input type="text" class="form-control" id="tarjeta-mixto" name="tarjeta-mixto">
                <br>
                <label for="efectivo" class="form-label">Efectivo</label>
                <input type="text" class="form-control" id="efectivo-mixto" name="efectivo-mixto">
            </div>


            <label for="cantidad-a-pagar">Cantidad a pagar:</label>
            <input id="cantidad-a-pagar" class="form-control" type="text" name="cantidad-a-pagar">
<!-- Este es el contenedor de la grilla de selección de menú -->
<div id="menu-grid-container">
  <h2>Seleccione un menú:</h2>
  <div class="grid-container">
    {% for m in men %}
    <div class="grid-item" data-menu="{{m.nombre_menu}}" data-precio="{{m.precio_menu}}">{{m.nombre_menu}} - {{m.precio_menu}}</div>
    {% endfor %}
  </div>
</div>


<div id="selected-menus-container">
  <h2>Menús seleccionados:</h2>
  <ul id="selected-menus-list"></ul>
</div>

           <br>
           <label class="form-label" for="total-a-pagar">Total a pagar:</label>
           <input id="total-a-pagar" class="form-control" type="text" >
           <button class="btn btn-danger" id="reset-total-button" type="button">Resetear cuenta</button>
           <br>

           <br>
           <label for="cambio">Cambio (Vuelto):</label>
           <input id="cambio" class="form-control" type="text" name="cambio">
      <br>
     
           <div class="modal-footer">

            <button type="submit" class="btn btn-primary">GUARDAR</button>
           </div>
           
         </form>
       </div>


        <script>


$(document).ready(function() {
        // Escuchar cambios en la selección del cliente
        $('#cliente-select').change(function() {
            var cliente_id = $(this).val();
            
            // Hacer una llamada AJAX para obtener los detalles del pedido
            $.ajax({
                url: '/obtener_detalles_pedido/',
                data: {
                    cliente_id: cliente_id
                },
                success: function(data) {
                    // Actualizar los campos de entrada correspondientes con los detalles del pedido
                    $('#menu-input').val(data.menu_nombre);
                    $('#cantidades-input').val(data.cantidades);
                    $('#detalle-input').val(data.tamaño_menu);
                    $('#estado-input').val(data.estado_pedido);
                    $('#fecha-input').val(data.fecha);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

const select = document.getElementById('metodo-pago');
    const inputTarjeta = document.getElementById('input-tarjeta');
    const inputEfectivo = document.getElementById('input-efectivo');
    const inputMixto = document.getElementById('input-mixto');
    select.addEventListener('change', (event) => {
        if (event.target.value === 'tarjeta') {
            inputTarjeta.hidden = false;
            inputEfectivo.hidden = true;
            inputMixto.hidden = true;
        } else if (event.target.value === 'efectivo') {
            inputEfectivo.hidden = false;
            inputTarjeta.hidden = true;
            inputMixto.hidden = true;
        } else if (event.target.value === 'mixto') {
            inputMixto.hidden = false;
            inputEfectivo.hidden = true;
            inputTarjeta.hidden = true;
        } else {
            inputEfectivo.hidden = true;
            inputTarjeta.hidden = true;
            inputMixto.hidden = true;
        }
    });


    $(document).ready(function() {
  // Obtener los campos de cantidad a pagar, total a pagar y cambio
  var $cantidadAPagar = $('#cantidad-a-pagar');
  var $totalAPagar = $('#total-a-pagar');
  var $cambio = $('#cambio');
  
  // Escuchar el evento "input" del campo de cantidad a pagar
  $cantidadAPagar.on('input', function() {
    // Obtener la cantidad a pagar y el total a pagar
    var cantidadAPagar = parseFloat($cantidadAPagar.val());
    var totalAPagar = parseFloat($totalAPagar.val());
    
    // Calcular el cambio
    var cambio = cantidadAPagar - totalAPagar;
    
    // Actualizar el campo de cambio
    $cambio.val(cambio.toFixed(2));
  });
  
  // Resetear la cuenta
  $('#reset-total-button').on('click', function() {
    $cantidadAPagar.val('');
    $totalAPagar.val('');
    $cambio.val('');
  });
});

    
    $(document).ready(function() {
  // Lista de menús seleccionados
  var selectedMenus = [];





  // Función para actualizar el input de "Total a pagar"
  function updateSelectedMenusInput() {
    var total = 0;
    for (var i = 0; i < selectedMenus.length; i++) {
      total += parseInt(selectedMenus[i].precio) * selectedMenus[i].cantidad;
    }
    $("#total-a-pagar").val(total + "LPS");
  }

  function addSelectedMenu(menu) {
  // Buscar el menú en la lista de seleccionados
  var selectedMenu = selectedMenus.find(function(m) {
    return m.nombre === menu.nombre;
  });

  if (selectedMenu) {
    // Incrementar la cantidad del menú seleccionado y actualizar el elemento de lista
    selectedMenu.cantidad++;
    $("#selected-menus-list li[data-nombre='" + menu.nombre + "']").text(selectedMenu.nombre + " x" + selectedMenu.cantidad);
  } else {
    // Agregar el menú a la lista con cantidad inicial de 1
    selectedMenu = {
      nombre: menu.nombre,
      precio: menu.precio,
      cantidad: 1
    };
    selectedMenus.push(selectedMenu);

    // Crear un nuevo elemento de lista con el nombre y el precio del menú
    var $newListItem = $("<li></li>")
      .text(selectedMenu.nombre + " x" + selectedMenu.cantidad)
      .attr("data-nombre", selectedMenu.nombre)
      .attr("data-precio", selectedMenu.precio);

    // Agregar el nuevo elemento a la lista de menús seleccionados
    $("#selected-menus-list").append($newListItem);
  }

  // Actualizar el input de "Total a pagar"
  updateSelectedMenusInput();
}
  

  // Función para quitar un menú de la lista de seleccionados
  function removeSelectedMenu(menu) {
    // Buscar el menú en la lista
    for (var i = 0; i < selectedMenus.length; i++) {
      if (selectedMenus[i].nombre === menu.nombre) {
        // Decrementar la cantidad de selección y quitar el menú si la cantidad llega a 0
        selectedMenus[i].cantidad--;
        if (selectedMenus[i].cantidad === 0) {
          selectedMenus.splice(i, 1);

          // Buscar el elemento de lista correspondiente y quitarlo
          $("#selected-menus-list li").each(function() {
            if ($(this).text() === menu.nombre) {
              $(this).remove();
              return false;
            }
          });
        }
        break;
      }
    }

    // Actualizar el input de "Total a pagar"
    updateSelectedMenusInput();
  }

  // Manejador de eventos para hacer clic en un menú
  $(".grid-item").click(function() {
    // Obtener el nombre y el precio del menú
    var menuNombre = $(this).data("menu");
    var menuPrecio = $(this).data("precio");

    // Agregar o quitar el menú según corresponda
    addSelectedMenu({nombre: menuNombre, precio: menuPrecio});
  });
});



$(document).ready(function() {
  // Agregar un menú seleccionado
  $("#menu-grid-container .grid-item").click(function() {
    var menu = $(this).attr("data-menu");
    var menuName = $(this).text();

    // Realizar una solicitud AJAX para obtener los detalles del menú, incluyendo el precio
    $.ajax({
      url: "/obtener_detalles_menu",
      data: { menu: menu },
      success: function(response) {
        var precio = response.precio;

        // Agregar el menú seleccionado y su precio a la lista de menús
        $("#selected-menus-list").append('<li data-menu="' + menu + '" data-precio="' + precio + '">' + menuName + ' (' + precio + 'LPS) <button class="remove-menu-btn">Eliminar</button></li>');
        updateTotalPrice();
      },
      error: function() {
        alert("Error al obtener los detalles del menú.");
      }
    });
  });

  // Eliminar un menú seleccionado
  $("#selected-menus-list").on("click", ".remove-menu-btn", function() {
    $(this).parent().remove();
    updateTotalPrice();
  });

  // Reiniciar la lista de menús seleccionados y el precio total
  $("#reset-total-button").click(function() {
    $("#selected-menus-list").empty();
    updateTotalPrice();
  });

  // Función para recalcular el precio total
  function updateTotalPrice() {
    var totalPrice = 0;
    $("#selected-menus-list li").each(function() {
      totalPrice += parseFloat($(this).data("precio"));
    });
    $("#total-a-pagar").val(totalPrice.toFixed(2) + "LPS");
  }
});

    $(document).ready(function() {
    // Esta función se ejecuta cuando la página ha sido completamente cargada

    // Seleccionamos todos los elementos de la grilla
    var gridItems = $(".grid-item");

    // Agregamos un listener de click a cada elemento de la grilla
    gridItems.click(function() {
      // Cuando se hace click en un elemento de la grilla, lo agregamos a la lista de menús seleccionados
      var selectedMenusList = $("#selected-menus-list");
      var menuItem = $(this).data("menu");


    });

    // Agregamos un listener de submit al formulario
    $("#factura-form").submit(function() {
      // Antes de enviar el formulario, agregamos los menús seleccionados como campos ocultos
      var selectedMenusList = $("#selected-menus-list");
      selectedMenusList.find("li").each(function() {
        var menuItem = $(this).data("menu");
        $("#factura-form").append("<input type='hidden' name='menu[]' value='" + menuItem + "'>");
      });
    });
  });






            $(document).ready(function() {
            $('#mitabla').DataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
            });
            })
                    </script>

</body>
</html>