<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- DataTables CSS library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css"/>

<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables JS library -->
<script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<!-- DataTables JBootstrap -->
<script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>
    
<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Facturacion</title>
</head>
<body>
    
  {% include 'Navbar.html' %}


  <br>
  {% if messages %}
  <div class="alert alert-danger position-relative" style="font-size: 1.5em;">
    <ul class="list-unstyled mb-0">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').classList.add('fade');
        setTimeout(function() {
          document.querySelector('.alert').style.display = 'none';
        }, 3500); 
      }, 4000); 
    </script>
  </div>
  {% endif %}

<br>
<h1>CONTROL DE FACTURA</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarfacturamodal">
  <i class="bi bi-plus-circle-fill">Agregar Factura</i>
</button>
 

<form action="{% url 'exportar_excel' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger"><i class="bi bi-file-earmark-excel-fill">Exportar a Excel</i></button>
</form>

    <table id="mitabla" class="container" cellspacing="0" width="100%">
        <thead>
        <tr>
        <th>ID</th>
        <th>Numero de Factura</th>
        <th>Nombre del Encargado</th>
        <th>Nombre del Cliente</th>
        <th>Nombre del Menu y Cantidades</th>
        <th>Fecha de Realizacion del Pedido</th>
        <th>Monto extra</th>
        <th>Impuesto</th>
        <th>Metodo de Pago</th>
        <th>Numero de la Tarjeta</th>
        <th>Cantidad a Pagar</th>
        <th>Total a Pagar</th>
        <th>Cambio</th>
        <th>Acciones</th>
      </tr>
        </thead>
        <tfoot>
            <tr>
              <th>ID</th>
              <th>Numero de Factura</th>
              <th>Nombre del Encargado</th>
              <th>Nombre del Cliente</th>
              <th>Nombre del Menu y Cantidades</th>
              <th>Fecha de Realizacion del Pedido</th>
              <th>Monto extra</th>
              <th>Impuesto</th>
              <th>Metodo de Pago</th>
              <th>Numero de la Tarjeta</th>
              <th>Cantidad a Pagar</th>
              <th>Total a Pagar</th>
              <th>Cambio</th>
              <th>Acciones</th>
                      </tr>
        </tfoot>
        
        <tbody>
            {% for f in fact %}
        <tr>
        <td>{{f.id_factura}}</td>
        <td>{{f.numero_factura}}</td>
        <td>{{f.nombre_encargado}}</td>
        <td>{{f.nombre_cliente}}</td>
        <td>{{f.menu_cantidades}}</td>
        <td>{{f.fecha_realizacion_pedido}}</td>
        <td>{{f.isv}}</td>
        <td>{{f.impuesto}}</td>
        <td>{{f.metodo_pago}}</td>
        <td>{{f.numero_tarjeta}}</td>
        <td>{{f.cantidad_pagar}}</td>
        <td>{{f.total_pagar}}</td>
        <td>{{f.cambio}}</td>
        <td><!-- Button trigger modal -->
          <a href="/eliminarfactura/{{f.id_factura}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
            <a href="/factura_pdf/{{f.id_factura}}" class="btn btn-primary"><i class="bi bi-file-earmark-arrow-down-fill"></i></a>
        </td>
        
        
    </tr>

        {% endfor %}
        </tbody>
        </table>

  
      

        <style>
   body{
      background: url("{% static 'images/pizzab14.jpg' %}") center no-repeat;
    background-size: cover;

    }

            /* Estilos para la grilla */
            .grid-container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 5px;
            }
            .grid-item {
              background-color: #ddd;
              padding: 15px;
              font-size: 15px;
              text-align: center;
            }

            
          </style>
      

 <!-- Modal -->
 <div class="modal fade" id="agregarfacturamodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Factura</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>

       <div class="modal-body">
      
        <form id="Myform" action="{% url 'agregarfactura' %}" method="POST">
          {% csrf_token %}


          <br>
  

          <div class="mb-3">
            <label for="codigo_cai_input" class="form-label">Codigo CAI</label>
            {% for s in sar %}
            <input type="text" class="form-control" name="codigo_cai" value="{{s.codigo_sar}}" id="codigo_cai" readonly>
            {% endfor %}   
         </div>
         
         <div class="row g-3">
          <div class="col-md-4">
            <label for="fecha_emision" class="form-label">Fecha de Emisión</label>
           
            <input type="text" class="form-control" name="fecha_emision" value="" id="fecha_emision" readonly>
            
         </div>
         <div class="col-md-4">
            <label for="fecha_final" class="form-label">Fecha Final</label>
            <input type="text" class="form-control" name="fecha_final" id="fecha_final" readonly>
         </div>
        </div>

        <div class="row g-3">
         <div class="col-md-4">
            <label for="numero_inicial" class="form-label">Número Inicial</label>
            <input type="text" class="form-control" name="numero_inicial" id="numero_inicial" readonly>
         </div>
         <div class="col-md-4">
            <label for="numero_final" class="form-label">Número Final</label>
            <input type="text" class="form-control" name="numero_final" id="numero_final" readonly>
         </div>
        </div>

    
          <br>
           <label for="">Numero de Factura</label>
            <input readonly type="text" class="form-control" name="numero_factura" id="numero_factura">

            <br>

          <div class="row g-3">
          <div class="col-md-4">
         <label for="">Nombre del Encargado</label>
         <input name="nombre_encargado" class="form-control" value="{{ request.session.nombre }}" readonly>
        </div>

        <div class="col-md-4">
         <label for="">Apellido del Encargado</label>
         <input name="apellido_encargado" class="form-control" value="{{ request.session.apellido }}" readonly>
        </div>
        <div class="col-md-5">
         <label for="">Correo Electronico</label>
         <input name="correo_encargado" class="form-control" value="{{ request.session.email }}" readonly>
        </div>
        <div class="col-md-4">
         <label for="">Telefono</label>
         <input name="telefono_encargado" class="form-control" value="{{ request.session.telefono }}" readonly>
        </div>
        </div>

           <!-- Aquí agregas los campos necesarios para la factura, como el nombre del cliente, fecha,  -->
           <h1>Descripcion de la Factura</h1>
            <br>


            <div class="row g-3">
           <div class="col-md-4">
             <label for="cliente" class="form-label">Nombre del Cliente</label>
             <select class="form-control" name="nombre_cliente" id="cliente-select">
                <option value="" selected>Consumidor Final</option>
                {% for p in ped %}
                {% if p.estado_pedido == 'En Ejecucion' %}
                <option value="{{p.nombre_cliente}}">{{p.nombre_cliente}}</option>
            {% endif %}
                {% endfor %}             
            </select>
           </div>
            <br>


            <div class="col-md-4">
              <label for="dni_cliente" class="form-label">DNI Del Cliente</label>
              <input class="form-control" type="text" name="dni_cliente" id="dni-input" readonly>
          </div>
        </div>

          <div class="row g-3">
            <div class="col-md-4">
              <label for="menu" class="form-label">Nombre del Menú y Cantidades</label>
              <textarea class="form-control" type="text" name="menu_cantidades" id="menu-input" readonly></textarea>
          </div>

          <div class="col-md-4">
              <label for="detalle" class="form-label">Tamaño del Menú</label>
              <textarea class="form-control" type="text" name="tamaño_menu" id="detalle-input" readonly></textarea>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-4">
              <label for="estado_pedido" class="form-label">Estado del Pedido</label>
              <input class="form-control" type="text" name="estado_pedido" id="estado-input" readonly>
          </div>
          
          <div class="col-md-4">
              <label for="fecha_realizacion_pedido" class="form-label">Fecha de Realización del Pedido</label>
              <input class="form-control" type="text" name="fecha_realizacion_pedido" id="fecha-input" readonly>
          </div>
        </div>

          
            
        <div class="row g-3">
          <div class="col-md-4">
            <label for="descuento" class="form-label">Descuento</label>
            <select class="form-control" name="descuento" id="descuento">
              {% for d in des %}
              <option value="{{ d.descuento }}" selected>{{ d.descuento }}</option>
              {% endfor %}
            </select>
          </div>
          
   

              <div class="mb-3">
                <label for="metodo-pago" class="form-label">Método de Pago</label>
                <select class="form-control" name="metodo_pago" id="metodo-pago">
                    <option value="" selected disabled>Selecciona un Metodo de Pago</option>
                    {% for m in meto %}
                        {% if m.forma_pago != "Mixto" %}
                            <option value="{{m.forma_pago}}" >{{m.forma_pago}}</option>
                        {% else %}
                            <option value="{{m.forma_pago}}" >{{m.forma_pago}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3" id="input-tarjeta" hidden>
                <label for="tarjeta" class="form-label">Tarjeta</label>
                <input minlength="16" maxlength="16" type="number" class="form-control" id="tarjeta" min="0" name="numero_tarjeta">
                <label for="">Cantidad a Pagar</label>
            </div>
            <div class="mb-3" id="input-efectivo" hidden>
                <label for="efectivo" class="form-label">Efectivo</label>
 
            </div>
            <div class="mb-3" id="input-mixto" hidden>

                <br>
                <label for="efectivo" class="form-label">Efectivo</label>
                <input type="number" class="form-control" id="efectivo-mixto" min="0" name="isv">
                <label class="form-label" for="">Monto Tarjeta</label>
            </div>
            

            
            <input id="cantidad-a-pagar" class="form-control" type="number" min="0" name="cantidad_pagar" hidden>
            <br>
            <p style="color: red ;" id="error-messages"></p>


           <br>
           <div class="row g-3">
           <div class="col-md-4">
            <label for="total-pagar" class="form-label">Total a pagar</label>
            <input type="number" class="form-control" name="total_pagar" id="total_a_pagar" readonly>
          </div>
          
          <div class="col-md-4">
            <label for="impuesto" class="form-label">Impuesto</label>
            <input type="number" class="form-control" name="impuesto" id="impuesto_acumulado" readonly>
          </div>
        

           <br>
           <div class="col-md-3">
           <label for="cambio">Cambio (Vuelto):</label>
           <input id="cambio" class="form-control" type="text" name="cambio" readonly>
          </div>
          </div>
      <br>
     
           <div class="modal-footer">

            <button id="enviar" type="submit" class="btn btn-primary">GUARDAR</button>
           </div>
           
         </form>
       </div>


        <script>





 
 $(document).ready(function() {
    // Obtener el valor del código CAI
    var cai_id = $('#codigo_cai').val();
    // Hacer llamada AJAX al backend para obtener los detalles del CAI
    $.ajax({
        url: '/obtener_datos_cai/',
        data: {'cai_id': cai_id},
        dataType: 'json',
        success: function(data) {
            // Mostrar los detalles en los inputs correspondientes
            $('#fecha_emision').val(data.fecha_emision);
            $('#fecha_final').val(data.fecha_final);
            $('#numero_inicial').val(data.numero_inicial);
            $('#numero_final').val(data.numero_final);
        }
    });
});





$(document).ready(function() {
        // Escuchar cambios en la selección del cliente
        $('#cliente-select').change(function() {
            var cliente_id = $(this).val();
            
            // Hacer una llamada AJAX para obtener los detalles del pedido
            $.ajax({
                url: '/obtener_detalles_pedido/',
                data: {
                    cliente_id: cliente_id
                },
                success: function(data) {
                    // Actualizar los campos de entrada correspondientes con los detalles del pedido
                    $('#menu-input').val(data.menu_nombre);
                    $('#cantidades-input').val(data.cantidades);
                    $('#detalle-input').val(data.tamaño_menu);
                    $('#estado-input').val('Terminado');
                    $('#fecha-input').val(data.fecha);

                    // Actualizar el campo de entrada del RTN del cliente
                  $('#dni-input').val(data.dni_cliente);
                  // Asignar valor al total a pagar
                  $('#total_a_pagar').val(data.total_a_pagar);
                  $('#impuesto_acumulado').val(data.impuesto_acumulado);


                   // Calcular el cambio
               // Escuchar cambios en la cantidad a pagar
               $('#cantidad-a-pagar').on('input', function() {
                    var cantidad_pagar = parseFloat($(this).val());
                    var total_a_pagar = parseFloat($('#total_a_pagar').val());

                    // Validar si la cantidad a pagar es mayor o igual al total a pagar
                    if (cantidad_pagar >= total_a_pagar) {
                        // Habilitar el botón de envío del formulario
                        $('#enviar').prop('disabled', false);

                        // Calcular y mostrar el cambio
                        var cambio = cantidad_pagar - total_a_pagar;
                        $('#cambio').val(cambio.toFixed(2));
                        $('#error-messages').text('');
                    } else {
                        // Deshabilitar el botón de envío del formulario
                        $('#enviar').prop('disabled', true);

                        // Mostrar el cambio como NaN (no válido)
                        $('#error-messages').text('Efectivo introducido es Insuficiente y Debe ser mayor o igual al total a pagar');
                    }
                });
            
                          // Escuchar cambios en el descuento
                          $('#descuento').on('change', function() {
                    var descuento = parseFloat($(this).val());
                    var total_a_pagar = parseFloat($('#total_a_pagar').val());

                    // Aplicar el descuento al total a pagar
                    var total_con_descuento = total_a_pagar - (total_a_pagar * (descuento / 100));

                    // Actualizar el campo de entrada del total a pagar
                    $('#total_a_pagar').val(total_con_descuento.toFixed(2));
                });
            
                // Escuchar cambios en el impuesto (ISV)
$('#isv').on('change', function() {
    var impuesto = parseFloat($(this).val());
    var total_a_pagar = parseFloat($('#total_a_pagar').val());

    // Calcular el total a pagar con el impuesto incluido
    var total_con_impuesto = total_a_pagar + (total_a_pagar * (impuesto / 100));

    // Actualizar el campo de entrada del total a pagar
    $('#total_a_pagar').val(total_con_impuesto.toFixed(2));
});


// Escuchar cambios en la opción de pago
$('#metodo-pago').on('change', function() {
    var metodo_pago = $(this).val();
    var total_a_pagar = parseFloat($('#total_a_pagar').val());

    // Si el método de pago es tarjeta
    if (metodo_pago === 'tarjeta') {
        // Asignar el valor del total a pagar al campo de cantidad a pagar
        $('#cantidad-a-pagar').val(total_a_pagar.toFixed(2));
        // Limpiar el valor del campo de cambio
        $('#cambio').val('0.00');
    } else if (metodo_pago === 'efectivo-mixto') {
        // Calcular y mostrar el cambio
        var efectivo = parseFloat($('#efectivo-mixto').val());
        var tarjeta = parseFloat($('#tarjeta-mixto').val());
        var cantidad_pagar = total_a_pagar - tarjeta - efectivo;
        var cambio = efectivo + tarjeta - total_a_pagar;
        $('#cantidad-a-pagar').val(cantidad_pagar.toFixed(2));
        $('#cambio').val(cambio.toFixed(2));
    } else {
        // Limpiar los campos de tarjeta y cantidad a pagar
        $('#tarjeta-mixto').val('');
        $('#cantidad-a-pagar').val('');
        // Limpiar el valor del campo de cambio
        $('#cambio').val('');
    }
});

// Escuchar cambios en el efectivo ingresado en el input
$('#efectivo-mixto').on('input', function() {
  var efectivo = parseFloat($(this).val());
  var total_a_pagar = parseFloat($('#total_a_pagar').val());

  // Calcular la cantidad restante para completar el total a pagar
  var cantidad_restante = total_a_pagar - efectivo;

  // Si la cantidad restante es mayor a cero, asignarla al input cantidad-a-pagar
  if (cantidad_restante > 0) {
    $('#cantidad-a-pagar').val(cantidad_restante.toFixed(2));
    $('#error-messages').text('');
    $('#enviar').prop('disabled', false);

  } else {
    // Si la cantidad restante es menor o igual a cero, asignar cero al input cantidad-a-pagar
    $('#error-messages').text('Efectivo debe ser Menor al total a pagar ');
    $('#enviar').prop('disabled', true);
    $('#cantidad-a-pagar').val('0.00');
  }

  // Calcular y mostrar el cambio en el input de cambio
  var cambio = efectivo - total_a_pagar;
  $('#cambio').val('0.00');
});



                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    

const select = document.getElementById('metodo-pago');
    const inputTarjeta = document.getElementById('input-tarjeta');
    const inputEfectivo = document.getElementById('input-efectivo');
    const inputCantidad = document.getElementById('cantidad-a-pagar');
    const inputMixto = document.getElementById('input-mixto');
    
    select.addEventListener('change', (event) => {
        if (event.target.value === 'tarjeta') {
            inputTarjeta.hidden = false;
            inputEfectivo.hidden = true;
            inputMixto.hidden = true;
           

            inputCantidad.hidden = false; //nuevo
            inputCantidad.readOnly = true; //nuevo


        } else if (event.target.value === 'efectivo') {
            inputEfectivo.hidden = false;
            inputTarjeta.hidden = true;
            inputMixto.hidden = true;


            inputCantidad.readOnly = false; //nuevo
            inputCantidad.hidden = false; //nuevo

        } else if (event.target.value === 'mixto') {
            inputMixto.hidden = false;
            inputEfectivo.hidden = true;
            inputTarjeta.hidden = false;


            inputCantidad.readOnly = true; //nuevo
            inputCantidad.hidden = false;  //nuevo
        } else {
            inputEfectivo.hidden = true;
            inputTarjeta.hidden = true;
            inputMixto.hidden = true;
            inputCantidad.readOnly = true;
        }
    });

    





            $(document).ready(function() {
            $('#mitabla').DataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
            });
            })





            $("#Myform").validate({
    rules: {

        codigo_cai: {
            required: true,
        },


        descuento: {
            required: true,
            
        },

        isv: {
            required: true,

        },
        metodo_pago: {
            required: true,
        },
        cantidad_pagar: {
            required: true,
            
        },
        numero_tarjeta:{
          required:true,
        },
        efectivo:{
          required:true
        },

    },
    messages: {
      id_factura: {
            required: "Debes Poner un ID",
        },
        codigo_cai: {
            required: "Debes Seleccionar El CODIGO CAI",
        },

        descuento: {
            required: "Debes Un Descuento",
        },
        isv: {
            required: "Debes seleccionar Un ISV",
        },
        metodo_pago: {
            required: "Debes Seleccionar Un Metodo de Pago",

        },
        cantidad_pagar: {
            required: "Debes ingresar la Cantidad a Pagar por el Cliente",

        },

    },
    submitHandler: function(form) {



  
          $("#mensaje-confirmacion").show();
          form.submit();
        }
});



jQuery.validator.addMethod("noSpace", function(value, element) { 
		return value == '' || value.trim().length != 0;  
	}, "No espacios Porfavor Eso no se Hace Aqui");
	


  $.validator.addMethod("solonumeros", function(value, element) {
    return this.optional(element) || /^[1-9]\d*$/.test(value);
}, "Por favor ingrese solo numeros.");






                    </script>

</body>
</html>