<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>
    
    <title>Inventario</title>
</head>
<body>

  <style>

    body{
      background: url("{% static 'images/pizzab14.jpg' %}") center no-repeat;
    background-size: cover;

    }

  </style>

{% include 'Navbar.html' %}


<br>
{% if messages %}
<div class="alert alert-danger position-relative" style="font-size: 1.5em;">
  <ul class="list-unstyled mb-0">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  <script>
    setTimeout(function() {
      document.querySelector('.alert').classList.add('fade');
      setTimeout(function() {
        document.querySelector('.alert').style.display = 'none';
      }, 3500); 
    }, 4000); 
  </script>
</div>
{% endif %}

    
    <h1>CONTROL DE INVENTARIO</h1>


    <table id="miTabla">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Producto</th>
            <th>Cantidad Actual</th>
            <th>Cantidad Minima</th>
            <th>Cantidad Maxima</th>
            <th>Unidad de Medida</th>
            <th>Menu</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
            {% for i in inv %}
          <tr>
            <td>{{i.id_inventario}}</td>
            <td>{{i.producto}}</td>
            <td>{{i.cantidad_actual}}</td>
            <td>{{i.cantidad_minima}}</td>
            <td>{{i.cantidad_maxima}}</td>
            <td>{{i.unidad_de_medida}}</td>
            <td>{{i.menu_id}}</td>
            <td>
                
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarmodalinventario-{{forloop.counter}}">
    EDITAR
  </button>
                <a href="/eliminarinventario/{{i.id_inventario}}" class="btn btn-danger">ELIMINAR</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      


      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarmodal">
    Agregar Nuevo Inventario
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="agregarmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nuevo Inventario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="Myform" action="{% url 'agregarinventario' %}" method="POST">
            {% csrf_token %}
                    <!-- Name input -->


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="producto">Producto</label>  
                    <select class="form-control" name="producto" id="producto">
                      <option value=""> Selecciona un Producto </option>
                      {% for p in pro %}
                    <option value="{{p.nombre_producto}}">{{p.nombre_producto}}</option>
                    {% endfor %}
                    </select>    
                  
                    </div>

                    <!-- password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="cantidad_actual">Cantidad Actual</label>
                        <input type="number" name="cantidad_actual" id="cantidad_actual" class="form-control" />

                    </div>


                    <!-- password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password2">Cantidad Minima</label>
                        <input min="0" type="number" name="cantidad_minima" id="cantidad_minima" class="form-control" />

                    </div>

                    <!-- password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="cantidad_maxima">Cantidad Maxima</label>
                        <input min="0" type="number" name="cantidad_maxima" id="cantidad_maxima" class="form-control" />

                    </div>

                    <!-- password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password2">Unidad de Medida</label>

                        <select class="form-control" name="unidad_de_medida" id="unidad_de_medida">
                          <option value="" selected disabled>Selecciona una Unidad de Medida</option>
                            <option value="Lbs">Libras</option>
                            <option value="Kgs">Kilogramos</option>
                            <option value="Gr">Gramos</option>
                            <option value="ML">Mililitros</option>
                          </select>
                    </div>


                    <label for="">Menu</label>
                    <select class="form-select" aria-label="Default select example" name="menu_id" id="menu_id">
                      <option value="" selected>Selecciona un Menu</option>
                      {% for m in men %}
                      
                      <option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
                      {% endfor %}
                  </select>
                  <br>





        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

    </div>
    </div>
  </div>




  <!-- Modal -->
  {% for i in inv %}
  <div class="modal fade" id="editarmodalinventario-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Inventario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
       

            <form action="/editarinventario/{{i.id_inventario}}" method="POST">
                {% csrf_token %}
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="number" value="{{i.id_inventario}}" name="id_inventario" id="id_inventario" class="form-control" />
                            <label class="form-label" for="name2">ID</label>
                        </div>
    
    
                        <div class="form-outline mb-4">

                          <select class="form-control" name="producto" id="producto">
                            <option value="{{i.producto}}">{{i.producto}}</option>
                            {% for p in pro %}
                          <option value="{{p.nombre_producto}}">{{p.nombre_producto}}</option>
                          {% endfor %}
                          </select>    
                          <label class="form-label" for="producto">Producto</label>                  
                          </div>
    
                        <!-- password input -->
                        <div class="form-outline mb-4">
                            <input type="number" value="{{i.cantidad_actual}}" name="cantidad_actual" id="password2" class="form-control" />
                            <label class="form-label" for="password2">Cantidad Actual</label>
                        </div>
    
    
                        <!-- password input -->
                        <div class="form-outline mb-4">
                            <input type="number" value="{{i.cantidad_minima}}" name="cantidad_minima" id="password2" class="form-control" />
                            <label class="form-label" for="password2">Cantidad Minima</label>
                        </div>
    
                        <!-- password input -->
                        <div class="form-outline mb-4">
                            <input type="number" value="{{i.cantidad_maxima}}" name="cantidad_maxima" id="password2" class="form-control" />
                            <label class="form-label" for="password2">Cantidad Maxima</label>
                        </div>
    
                        <!-- password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password2">Unidad de Medida</label>
    
                            <select class="form-control" name="unidad_de_medida" id="">
                                <option value="{{i.unidad_de_medida}}" selected>{{i.unidad_de_medida}}</option>
                                <option value="Lbs">Libras</option>
                                <option value="Kgs">Kilogramos</option>
                                <option value="Gr">Gramos</option>
                                <option value="ML">Mililitros</option>
                              </select>
                        </div>
    
    
                        <label for="">Menu</label>
                        <select class="form-select" aria-label="Default select example" name="menu_id" id="menu_id">
                          <option value="" selected>Selecciona un Menu</option>
                          {% for m in men %}
                          
                          <option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
                          {% endfor %}
                      </select>
                      <br>
    



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>


    </form>
      </div>
    </div>
  </div>

  {% endfor %}


    <script>

$(document).ready( function () {
    $('#miTabla').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.11.4/i18n/es_es.json'
        }
    });
});



$("#Myform").validate({
  rules: {

    producto: {
      required: true,
    },
    cantidad_actual: {
      required: true,
      greaterThanMin: true,
      lessThanOrEqualMax: true,

    },
    cantidad_minima: {
      required: true,
      lessThanOrEqualActual: true,
    },
    cantidad_maxima: {
      required: true,
      greaterThanOrEqualActual: true,
    },
    unidad_de_medida: {
      required: true,
    },
  },
  messages: {
    id_inventario: {
      required: "Debes poner un ID",
    },
    producto: {
      required: " selecciona un",
    },
    cantidad_actual: {
      required: "Debes ingresar la cantidad actual del producto seleccionado",

    },
    cantidad_minima: {
      required: "Debes ingresar la cantidad mínima del producto seleccionado",
        
    },
    cantidad_maxima: {
      required: "Debes ingresar la cantidad máxima del producto seleccionado",
        
    },
    unidad_de_medida: {
      required: "Debes seleccionar una unidad de medida del producto",
    },
  },
  submitHandler: function(form) {
    $("#mensaje-confirmacion").show();
    form.submit();
  }
});

	
	// Regla personalizada para validar el campo de Descripciion


  jQuery.validator.addMethod("noSpaceafterletters", function(value, element) { 
        return this.optional(element) || /^[^\s]+\s*[^\s]*$/.test(value);
    }, "No letras ni digitos despues de espacios por favor");
    



	jQuery.validator.addMethod("noSpace", function(value, element) { 
		return value == '' || value.trim().length != 0;  
	}, "No espacios Porfavor Eso no se Hace Aqui");
	
	// Regla personalizada para validar el campo de nombre_cargo
	$.validator.addMethod("noRepetidos", function(value, element) {
	  return this.optional(element) || !/(.)\1+/.test(value);
	}, "No se permiten caracteres repetidos en este campo");
	
	jQuery.validator.addMethod("noSpaceafterletters", function(value, element) { 
    return this.optional(element) || /^[^\s]+\s*[^\s]*$/.test(value);
}, "No letras ni digitos despues de espacios por favor");


// Regla personalizada para validar que la cantidad mínima sea menor o igual que la cantidad actual
$.validator.addMethod("lessThanOrEqualActual", function (value, element) {
  return parseInt(value) <= parseInt($("#cantidad_actual").val()); 
}, "La cantidad mínima debe ser menor o igual que la cantidad actual.");

// Regla personalizada para validar que la cantidad actual sea mayor que la cantidad mínima pero no mayor que la cantidad máxima
$.validator.addMethod("greaterThanMin", function (value, element) {
  var current = parseInt(value);
  var min = parseInt($("#cantidad_minima").val());
  var max = parseInt($("#cantidad_maxima").val());
  return current >= min && current <= max || current <= min;
}, "La cantidad actual debe ser mayor o igual que la cantidad mínima y menor o igual que la cantidad máxima.");


// Regla personalizada para validar que la cantidad actual sea menor o igual que la cantidad máxima
$.validator.addMethod("lessThanOrEqualMax", function (value, element) {
  return parseInt(value) <= parseInt($("#cantidad_maxima").val());
}, "La cantidad actual debe ser menor o igual que la cantidad máxima.");

// Regla personalizada para validar que la cantidad máxima sea mayor o igual que la cantidad actual
$.validator.addMethod("greaterThanOrEqualActual", function (value, element) {
  return parseInt(value) >= parseInt($("#cantidad_actual").val());
}, "La cantidad máxima debe ser mayor o igual que la cantidad actual.");





    </script>

</body>
</html>