<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>

    <title>productos</title>
</head>
<body>

  <style>

    body{
      background: url("{% static 'images/pizzab14.jpg' %}") center no-repeat;
    background-size: cover;

    }

  </style>


{% include 'Navbar.html' %}


<br>
{% if messages %}
<div class="alert alert-danger position-relative" style="font-size: 1.5em;">
  <ul class="list-unstyled mb-0">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  <script>
    setTimeout(function() {
      document.querySelector('.alert').classList.add('fade');
      setTimeout(function() {
        document.querySelector('.alert').style.display = 'none';
      }, 3500); 
    }, 4000); 
  </script>
</div>
{% endif %}

    <h1>Control de Productos</h1>

    

    <table id="miTabla">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Producto</th>
            <th>Categoria</th>
            <th>Almacen</th>
            <th>Familia</th>
            <th>Menu</th>
            <th>Provedor</th>
            <th>Precio del Producto</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
            {% for p in pro %}
          <tr>
            <td>{{ p.id_producto }}</td>
            <td>{{ p.nombre_producto }}</td>
            <td>{{ p.id_categoria }}</td>
            <td>{{ p.almacen_id }}</td>
            <td>{{ p.familia_id }}</td>
            <td>{{ p.menu_id }}</td>
            <td>{{ p.provedor_id }}</td>
            <td>{{ p.precio_producto }}</td>
            <td>

                 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Editarproducto-{{ forloop.counter }}">
    Editar
  </button>
  

        <a class="btn btn-danger" href="/eliminarproducto/{{ p.id_producto }}">ELIMINAR</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      




      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarProductoModal">
    Agregar Nuevo Producto
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="AgregarProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="Myform" action="{% url 'agregarproductos' %}" method="POST">
                {% csrf_token %}

       

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre del Producto</label>
                <input minlength="5" maxlength="18" name="nombre_producto" type="text" class="form-control" id="nombre_producto" placeholder="Nombre del Producto">
              </div>
              
          
              <label for="">Categoria</label>
            <select name="id_categoria" id="id_categoria" class="form-select" aria-label="Default select example">
                <option value="" selected>Selecciona una Categoria</option>
                {% for c in cat %}
                <option value="{{ c.nombre_categoria }}">{{ c.nombre_categoria }}</option>
                {% endfor %}
            </select>
            <br>

              <label for="">Almacen</label>
              <select class="form-select" aria-label="Default select example" name="almacen_id" id="almacen_id">
                <option value="" selected>Selecciona un Almacen</option>
                {% for a in alma %}
                <option value="{{ a.tipo_almacen }}">{{ a.tipo_almacen }}</option>
                {% endfor %}
              </select>
              <br>


              <label for="">Familia</label>
              <select class="form-select" aria-label="Default select example" name="familia_id" id="familia_id">
                <option value="" selected>Selecciona una Familia</option>
                {% for f in fam %}
                <option value="{{f.nombre_familia}}">{{f.nombre_familia}}</option>
                {% endfor %}
              </select>
              <br>

              <label for="">Menu</label>
              <select class="form-select" aria-label="Default select example" name="menu_id" id="menu_id">
                <option value="" selected>Selecciona un Menu</option>
                {% for m in men %}
                
                <option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
                {% endfor %}
            </select>
            <br>

            <label for="">Provedor</label>
            <select class="form-select" aria-label="Default select example" name="provedor_id" id="provedor_id">
              <option value="" selected>Selecciona un provedor</option>
              {% for p in prov %}
              
              <option value="{{p.nombre_provedor}}">{{p.nombre_provedor}}</option>
              {% endfor %}
          </select>
          <br>

          <label for="">Precio del Producto</label>
          <input class="form-control" min="0" type="number" name="precio_producto" id="precio_producto">
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>


 
  <!-- Modal -->
  {% for p in pro %}
  <div class="modal fade" id="Editarproducto-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         



            <form action="/editarproducto/{{ p.id_producto }}" method="POST">
                {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID del Producto</label>
                <input value="{{ p.id_producto }}" name="id_producto" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Introduce un ID">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre del Producto</label>
                <input value="{{ p.nombre_producto }}" name="nombre_producto" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del Producto">
              </div>
          
              <label for="">Categoria</label>
            <select name="id_categoria" class="form-select" aria-label="Default select example">
                <option value="{{ p.id_categoria }}">{{ p.id_categoria }}</option>
                {% for c in cat %}
                <option value="{{ c.nombre_categoria }}">{{ c.nombre_categoria }}</option>
                {% endfor %}
            </select>

              <label for="">Almacen</label>
              <select class="form-select" aria-label="Default select example" name="almacen_id">
                <option value="{{ p.almacen_id }}">{{ p.almacen_id }}</option>
                {% for a in alma %}
                <option value="{{ a.tipo_almacen }}">{{ a.tipo_almacen }}</option>
                {% endfor %}
              </select>

              <label for="">Inventario</label>
              <select class="form-select" aria-label="Default select example" name="inventario_id">
                <option value="{{ p.inventario_id }}">{{ p.inventario_id }}</option>
                {% for i in inv %}
                <option value="{{ i.producto }}">{{ i.producto }}</option>
                {% endfor %}
              </select>

              <label for="">Familia</label>
              <select class="form-select" aria-label="Default select example" name="familia_id">
                <option value="{{ p.familia_id }}">{{ p.familia_id }}</option>
                {% for f in fam %}
                <option value="{{f.nombre_familia}}">{{f.nombre_familia}}</option>
                {% endfor %}
              </select>

              <label for="">Menu</label>
              <select class="form-select" aria-label="Default select example" name="menu_id">
                <option value="{{ p.menu_id }}">{{ p.menu_id }}</option>
                {% for m in men %}
                
                <option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
                {% endfor %}
            </select>


            <label for="">Provedor</label>
            <select class="form-select" aria-label="Default select example" name="provedor_id">
              <option value="{{p.provedor_id}}">{{p.provedor_id}}</option>
              {% for p in prov %}
              
              <option value="{{p.nombre_provedor}}">{{p.nombre_provedor}}</option>
              {% endfor %}
          </select>

          <label for="">Precio del Producto</label>
          <input value="{{p.precio_producto}}" class="form-control" type="text" name="precio_producto" id="precio_producto">
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  {% endfor %}



    <script>

$(document).ready( function () {
    $('#miTabla').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.11.4/i18n/es_es.json'
        }
    });
});





$("#Myform").validate({
  rules: {

    nombre_producto: {
      required: true,
      noSpace:true,
      soloLetrasConEspacio:true,
      noConsecutiveTriples:true,
      sololetrasyconmayusculas:true,
      letrasYLongitud:true,
    },
    id_categoria: {
      required: true,
   
    },
    almacen_id: {
      required: true,

    },
    inventario_id: {
      required: true,
     
    },
    familia_id: {
      required: true,
    },
    menu_id: {
      required: true,
    },
    provedor_id: {
      required: true,
    },
    precio_producto: {
      required: true,
      noSpaceafterletters:true
    },

  },
  messages: {
    id_producto: {
      noSpace: "No se permiten espacios",
      required: "Debes poner un ID",
    },
    nombre_producto: {
      required: "Ingresa el Nombre del Producto",
      minlength: "Ingrese al menos 5 letras."
    },
    id_categoria: {
      required: "Debes seleccionar una Categoria",

    },
    almacen_id: {
      required: "Debes Seleccionar un Almacen",
        
    },
    inventario_id: {
      required: "Debes Seleccionar un Inventario",
        
    },
    familia_id: {
      required: "Debes Seleccionar una Familia",
    },

    menu_id: {
      required: "Debes Seleccionar un Menu",
    },
    provedor_id: {
      required: "Debes Seleccionar un Proveedor",
    },
    precio_producto: {
      required: "Debes Ingresar el Precio del Producto",
    },
  },
  submitHandler: function(form) {
    $("#mensaje-confirmacion").show();
    form.submit();
  }
});


	// Regla personalizada para validar el campo de Descripciion

  $.validator.addMethod("letrasYLongitud", function(value, element) {
  return /^[a-zA-Z]{5,}\s[a-zA-Z]{4,}$/.test(value);
}, "La cadena debe tener al menos 5 letras antes del espacio y 4 letras después.");
  
	jQuery.validator.addMethod("noSpace", function(value, element) { 
		return value == '' || value.trim().length != 0;  
	}, "No espacios Porfavor Eso no se Hace Aqui");
	
	// Regla personalizada para validar el campo de nombre_cargo
	$.validator.addMethod("noRepetidos", function(value, element) {
	  return this.optional(element) || !/(.)\1+/.test(value);
	}, "No se permiten caracteres repetidos en este campo");
	
	jQuery.validator.addMethod("noSpaceafterletters", function(value, element) { 
    return this.optional(element) || /^[^\s]+\s*[^\s]*$/.test(value);
}, "No letras ni digitos despues de espacios por favor");

$.validator.addMethod("soloLetrasConEspacio", function(value, element) {
  return this.optional(element) || /^[a-zA-Z]+\s?[a-zA-Z]*$/.test(value);
}, "Por favor ingrese solo letras y un espacio.");


$.validator.addMethod('noConsecutiveTriples', function(value, element) {
  // Expresión regular que busca 3 caracteres iguales consecutivos
  var regex = /([a-zA-Z0-9])\1\1/;
  
  return !regex.test(value);
}, 'No se permiten caracteres consecutivos triples.');

$.validator.addMethod("sololetrasyconmayusculas", function(value, element) {
  return this.optional(element) || /^(?=.{4,})(?:(?:[A-Z][a-z]*|[a-z]*\s)[A-Za-z]*(\w)\1?(?!\1))+$/g.test(value);
}, "Este campo solo puede contener letras y 1 espacio y debe comenzar con una letra mayúscula.");


    </script>




</body>
</html>