<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
	
			<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css
			">
			<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>


			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>

    <title>Promociones</title>
</head>
<body>
    
	<style>

		body{
		  background: url("{% static 'images/pizzab14.jpg' %}") center no-repeat;
		background-size: cover;
	
		}
	
	  </style>
    
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Pizza Wave</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
		  <li class="nav-item">
		  <a class="nav-link active" aria-current="page" href="/usuario">Inicio</a>
		  </li>
		
		
		  {% if request.session.username %}
		
		  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
		  <ul class="navbar-nav">
			<li class="nav-item dropdown">
		  
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		  Vista Empleados
		  </a>
		  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
		  <li class="nav-item">
			<a class="nav-link" href="/cargoregister">Registros de Cargos del Empleado</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="/empleado">Registro de Empleados</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="/tipodocumentoemp">Registro de Tipo De Documento</a>
		  </li>
	  
	  
		  <li class="nav-item">
			<a class="nav-link" href="/departamentohome">Registro de Departamento</a>
		  </li>
	  
		  <li class="nav-item">
			<a class="nav-link" href="/puestos">Control de Puestos</a>
		  </li>
	  
		  <li class="nav-item">
			<a class="nav-link" href="/sucursal">Control de sucursal</a>
		  </li>
	  
		  </ul>
		
		  </li>
		  </ul>
		</div>
		  
		
		
		  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
		  <ul class="navbar-nav">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Vista Usuarios
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
		  
				<li class="nav-item">
					<a class="nav-link" href="/registrousuarios">Usuarios</a>
				  </li>
		  
				  


			<li class="nav-item">
			<a class="nav-link" href="/pedidos">Pedidos</a>
			</li>
	  
	  
			<li class="nav-item">
				<a class="nav-link" href="/facturacion">Factura</a>
			  </li>


			  <li class="nav-item">
                <a class="nav-link" href="/impuesto">Impuestos</a>
              </li>
			
	


			<li class="nav-item">
			  <a class="nav-link" href="/estadopedido">Estado Pedido</a>
			  </li>
		
	  
	  
				<li class="nav-item">
				  <a class="nav-link" href="/reservaciones">Registros de Reservaciones</a>
				  </li>
	  
	  
	  
				<li class="nav-item">
				  <a class="nav-link" href="/promociones">Registros de Promociones</a>
				  </li>
	  
				  
	  
	  
	  
				<li class="nav-item">
				  <a class="nav-link" href="/metodopago">Metodo de Pago</a>
				  </li>
	  
	  
	  
				  <li class="nav-item">
					<a class="nav-link" href="/sartabla">SAR</a>
					</li>
	  
		  
			</ul>
			</li>
		  </ul>
		  </div>
	  
	  
	  
		  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Vista productos
			</a>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
		  
			  <li class="nav-item">
			  <a class="nav-link" href="/categoria">Registros de categoria</a>
			  </li>
		  
			  <li class="nav-item">
			  <a class="nav-link" href="/almacen">Registros del almacen </a>
			  </li>
	  
			  <li class="nav-item">
			  <a class="nav-link" href="/familiaproducto">Registros de familia producto</a>
			  </li>
	  
			  <li class="nav-item">
			  <a class="nav-link" href="/menutabla">Registros del Menu</a>
			  </li>
	  
	  
			  <li class="nav-item">
				<a class="nav-link" href="/historicomenutabla">Registros Historicos del Menu</a>
				</li>
	  
			  <li class="nav-item">
			  <a class="nav-link" href="/elaboracion">Registros de Elaboracion</a>
			  </li>
	  
	  
			  <li class="nav-item">
			  <a class="nav-link" href="/recetatablaregistros">Registros de Receta</a>
			  </li>
	  
			  <li class="nav-item">
				<a class="nav-link" href="/inventario">Registros de inventario</a>
				</li>
	  
			  <li class="nav-item">
				<a class="nav-link" href="/productos">Registros de Productos</a>
				</li>
	  
				<li class="nav-item">
					<a class="nav-link" href="/historicoproducto">Registros Historicos de Productos</a>
					</li>

				
				<li class="nav-item">
					<a class="nav-link" href="/provedores">Registros de Proveedores</a>
					</li>
		  
	  
		  
			</ul>
			</li>
			</ul>
			</div>
		  
		
		
		
		
		  <li class="nav-item">
		  <a class="nav-link" href="/signout">Cerrar Sesion</a>
		  </li>
		
		
		
		 
		  {% else %}
		  
		  <li class="nav-item">
		  <a class="nav-link" href="/login_user">Iniciar Sesion</a>
		  </li>
		   
		
			 <li class="nav-item">
		  <a class="nav-link" href="/signup">Registrarse</a>
		  </li>
		
		
		  
		  {% endif %}
		  
		  
		
		
		
		  
		
			 <li class="nav-item">
		  <a class="nav-link" href="/menu">Menu</a>
		  </li>
		
		  
		
		  <div class="collapse navbar-collapse" id="navbarNav">
		  <li class="nav-item">
			<a class="nav-link desactivated">{{request.session.username}}</a>
		  </li>
		  </div>
		
		
		  </ul>
		  </div>
		</div>
		</nav>

<br>
<h1>CONTROL DE PROMOCIONES</h1>

    <table id="promociones" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
			<th>Id Promocion</th>
			<th>Nombre de la Promocion</th>
			<th>Nombre del Menu</th>
			<th>Precio de oferta</th>
			<th>Fecha de inicio de la Oferta</th>
			<th>Fecha Final de la Oferta</th>
			<th>Descripcion</th>
			<th>ACCIONES</th>
        </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id Promocion</th>
                <th>Nombre de la Promocion</th>
                <th>Nombre del Menu</th>
                <th>Precio de oferta</th>
				<th>Fecha de inicio de la Oferta</th>
				<th>Fecha Final de la Oferta</th>
				<th>Descripcion</th>
				<th>ACCIONES</th>
                </tr>
        </tfoot>
        
        <tbody>
			{% for p in promo %}
        <tr>
        <td>{{p.id_promocion}}</td>
		<td>{{p.nombre_promocion}}</td>
        <td>{{p.menu_id}}</td>
        <td>{{p.precio_oferta}}</td>
        <td>{{p.tiempo_inicio|date:"d/m/Y"}}</td>
        <td>{{p.fecha_final|date:"d/m/Y"}}</td>
		<td>{{p.descripcion}}</td>
		<td>
					<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Editarmodalpromociones-{{ forloop.counter }}">
	EDITAR
  </button>
			<a class="btn btn-danger" href="/eliminarpromocion/{{p.id_promocion}}">ELIMINAR</a>
		</td>
        </tr>
		{% endfor %}
        </tbody>
        </table>




  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarmodalpromocion">
	Agregar nueva Promocion
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="agregarmodalpromocion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Promocion</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<form id="Myform" action="{% url 'agregarpromociones' %}" method="POST">
			{% csrf_token %} 
		<div class="modal-body">



		<div class="mb-3">

		  <label class="form-label" for="">
			Nombre de la Promocion
		 </label>
		 <input minlength="0" maxlength="20" class="form-control" type="text" name="nombre_promocion" id="nombre_promocion" placeholder="Ingrese el Nombre de la promocion">
		</div>


		<div class="mb-3">
		 <label class="form-label" for="">Nombre del Menu</label>
		 <select class="form-control" name="menu_id" id="menu_id">

			<option value="" selected disabled>Seleccione un Menu</option>
			{% for m in men %}
			<option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
			{% endfor %}
		 </select>
		</div>

		<div class="mb-3">
		 <label class="form-label" for="">Precio en oferta</label>
		 <input min="0" class="form-control" type="number" name="precio_oferta" id="precio_oferta">
		</div>

		<div class="mb-3">
		<label class="form-label" for="fecha_inicio">Fecha de inicio:</label>
		<input class="form-control" type="date" id="fecha_inicio" value="{{p.tiempo_inicio}}" readonly>

		</div>

		<div class="mb-3">
			<label class="form-label" for="">Fecha Final de la Oferta</label>
			<input class="form-control" type="date" name="fecha_final" id="fecha_final">
			<p id="error-fecha-final" class="error"></p>
		   </div>

		<div class="mb-3">
		 <label class="form-label" for="">Descripcion</label>
		 <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="10" minlength="10" maxlength="250"></textarea>
		</div>




		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
		</div>
	  </div>
	  </form>
	</div>
  </div>

  
  <!-- Modal EDitar Promocion-->
  {% for p in promo %}
  <div class="modal fade" id="Editarmodalpromociones-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Promocion</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<form action="/editarpromocion/{{p.id_promocion}}" method="POST">
			{% csrf_token %} 
		<div class="modal-body">
			<div class="mb-3">
				<label class="form-label" for="">
				  promocion ID
				</label>
				<input class="form-control" value="{{p.id_promocion}}" type="text" name="id_promocion" id="" placeholder="Inserte ID de la Promocion">
			  </div>
	  
			  <div class="mb-3">
	  
				<label class="form-label" for="">
				  Nombre de la Promocion
			   </label>
			   <input class="form-control" value="{{p.nombre_promocion}}" type="text" name="nombre_promocion" id="" placeholder="Inserte Nombre de la promocion">
			  </div>
	  
	  
			  <div class="mb-3">
			   <label class="form-label" for="">Nombre del Menu</label>
			   <select class="form-control" name="menu_id" id="">
	  
				  <option value="{{p.menu_id}}" selected>{{p.menu_id}}</option>
				  {% for m in men %}
				  <option value="{{m.nombre_menu}}">{{m.nombre_menu}}</option>
				  {% endfor %}
			   </select>
			  </div>
	  
			  <div class="mb-3">
			   <label class="form-label" for="">Precio en oferta</label>
			   <input class="form-control" value="{{p.precio_oferta}}" type="number" name="precio_oferta" id="">
			  </div>

			  <div class="mb-3">
				<label class="form-label" for="">Fecha Final de la Oferta</label>
				<input class="form-control" value="{{p.fecha_final|date:'Y-m-d'}}" type="date" name="fecha_final" id="fecha_final">
			   </div>
	  
			  <div class="mb-3">
			   <label class="form-label" for="">Descripcion</label>
			   <textarea class="form-control" name="descripcion" id="" cols="30" rows="10">{{p.descripcion}}</textarea>
			  </div>
	  





		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
		</div>
	</form>
	  </div>
	</div>
  </div>
  {% endfor %}




    <script>
$(document).ready(function() {
$('#promociones').DataTable({
"language": {
"url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
}
});
})



// Obtener la fecha actual en milisegundos
var fechaActual = Date.now();

// Convertir la fecha en un objeto Date
var fechaActualFormateada = new Date(fechaActual);
var dia = fechaActualFormateada.getDate().toString().padStart(2, '0');
var mes = (fechaActualFormateada.getMonth() + 1).toString().padStart(2, '0');
var anio = fechaActualFormateada.getFullYear();

// Asignar la fecha actual al input de fecha de inicio
$('#fecha_inicio').val(anio + '-' + mes + '-' + dia);

// Validar que la fecha final sea mayor o igual a la fecha de inicio
$('#fecha_final').change(function() {
   var fechaInicio = new Date($('#fecha_inicio').val());
   var fechaFinal = new Date($(this).val());
   if (fechaFinal < fechaInicio) {
      $('#mensaje-error').text('La fecha final debe ser mayor o igual a la fecha de inicio');
      $(this).val('');
   } else {
      $('#mensaje-error').text('');
   }
});





$("#Myform").validate({
  rules: {

    nombre_promocion: {
      required: true,
	  letrasYLongitud:true,
	  soloLetrasConEspacio: true,
	  noConsecutiveTriples:true,
	  noSpaceafterletters:true,
    },
    menu_id: {
      required: true,

 
    },
    precio_oferta: {
      required: true,

    },
	fecha_final:{
		required:true,

	},
    descripcion: {
      required: true,
     
    },

  },
  messages: {
    id_promocion: {
      noSpace: "No se permiten espacios",
      required: "Debes poner un ID",
    },
    nombre_promocion: {
      required: " Debes ingresar el Nombre de la Promocion",
    },
    menu_id: {
      required: "Debes Seleccionar el Menu para la Promocion",

    },
    precio_oferta: {
      required: "Debes Ingresar el Precio de Oferta para el Menu",
        
    },
	fecha_final: {
      required: "Debes Seleccionar La Fecha Final de la Promocion",
        
    },
	
    descripcion: {
      required: "Debes Ingresar una Breve Descripcion de la Promocion",
        
    },

  },
  submitHandler: function(form) {
    $("#mensaje-confirmacion").show();
    form.submit();
  }
});

	
	// Regla personalizada para validar el campo de Descripciion


	$.validator.addMethod('noConsecutiveTriples', function(value, element) {
  // Expresión regular que busca 3 caracteres iguales consecutivos
  var regex = /([a-zA-Z0-9])\1\1/;
  
  return !regex.test(value);
}, 'No se permiten caracteres consecutivos triples.');


	jQuery.validator.addMethod("noSpace", function(value, element) { 
		return value == '' || value.trim().length != 0;  
	}, "No espacios Porfavor Eso no se Hace Aqui");
	
	// Regla personalizada para validar el campo de nombre_cargo
	$.validator.addMethod("noRepetidos", function(value, element) {
  return this.optional(element) || !/(.)\1{2,}/.test(value);
}, "No se permiten caracteres repetidos en este campo");

	jQuery.validator.addMethod("noSpaceafterletters", function(value, element) { 
    return this.optional(element) || /^[^\s]+\s*[^\s]*$/.test(value);
}, "No letras ni digitos despues de espacios por favor");

$.validator.addMethod("letrasYLongitud", function(value, element) {
  return /^[a-zA-Z]{5,}\s[a-zA-Z]{4,}$/.test(value);
}, "La cadena debe tener al menos 5 letras antes del espacio y 4 letras después.");



$.validator.addMethod("soloLetrasConEspacio", function(value, element) {
  return this.optional(element) || /^[a-zA-Z]+\s?[a-zA-Z]*$/.test(value);
}, "Por favor ingrese solo letras y un espacio.");



        </script>


</body>
</html>