


body{
    

    
    background: #23252670;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#header1{

    background-image: url(../images/pizza7.jpg);


}

#divdelheader1{
    
    border-radius: 800px;

}


#logoitem{

 
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    
}




#logoitem2{

margin-top: 10px;
  
 
    
}

#logoimg{

box-sizing: content-box;
 

height: 500px;
width: fit-content;

overflow: hidden;
box-shadow: inset;

border-radius: 100px;
padding-left: 50px;
padding-right: 50px;
padding-top: 30px;
padding-bottom: 30px;  




}

#pizzal{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;  
}

