body{

    background-color: red;

}


#formcontent1{


background-color:white;


margin-top: 50px;
margin-left: 150px;
margin-right: 180px;




}

#userlogo{
    border-radius: 150px;
    margin-left: 180px;
   
}