body{

    background-color: red;

}


#formcontent1{


background-color:white;


margin-top: 40px;
margin-left: 150px;
margin-right: 180px;
padding-bottom: 50px;



}

#userlogo{
    border-radius: 150px;
    margin-left: 350px;
   
}


#btnS2{

    margin-right: 110px;

    }