body{

background-color: green;

}


#btnS{

margin-left: 350px;


}
#formcontent1{


    background-color: whitesmoke;
    
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 180px;
    
    
    }

#logoregister{

margin-left: 350px;

}

