.title{
    
    padding-left: 150px;
font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;


}


.text1{


    color: red;
    
    font-size: x-large;    

    font-family: Georgia, 'Times New Roman', Times, serif;


}

.aboutimg{
    padding-left: 150px;
background-repeat: no-repeat;
background-size: cover;

}